.App {
  text-align: center;
  background-color: #3f549470;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.top {
  display: inline-block;
}

.top-left {
  padding-left: 150px;
}

.top-right {
  padding-right: 150px;
}

.bottom {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.Add-Remove-Product {
  padding-top: 30px;
}
